*~
*.jpeg
*.autosave
.metadata

CVS/
/code/temp/SipCommunicator-Fall05/net/java/sip/communicator/common/
*.class
*.classpath
*.html
*.gif
*.jpg
*.xml
/code/temp/*
!/code/temp/SipCommunicator-Fall05
/code/temp/SipCommunicator-Fall05/*
!/code/temp/SipCommunicator-Fall05/net